@use "sass:math";
@use "common";

.intro{
    background: url("@img/intro/background.jpg") left center no-repeat;
    background-size: cover;
    position: relative;
    &::after{
        background-color: rgba($color: common.$purple, $alpha: 0.8);
    
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
    }
    &::before{
        background: url("@img/icons/faucet.svg") no-repeat;
        background-size: contain;

        content: "";
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: common.toRem(16);

        width: common.toRem(80);
        height: common.toRem(63.33);
    }
    @media (max-width: common.toEm(992, 16)) {
        &::before{
            width: common.toRem(72);
            height: common.toRem(57);
        }
    }
    @media (max-width: common.toEm(768, 16)) {
        &::before{
            width: common.toRem(64);
            height: common.toRem(50.67);
        }
    }
    @media (max-width: common.toEm(480, 16)) {
        &::before{
            width: common.toRem(56);
            height: common.toRem(44.33);
            bottom: common.toRem(10);
        }
    }

    min-height: calc(common.toRem(600) + common.toRem(100));
    padding: calc(common.toRem(36) + common.toRem(100)) 0 calc(common.toRem(36) + common.toRem(63.33) + common.toRem(16)) 0;
    display: flex;
    align-items: center;

    @media (max-width: common.toEm(992, 16)) {
        padding: calc(common.toRem(36) + common.toRem(90)) 0 calc(common.toRem(36) + common.toRem(57) + common.toRem(16)) 0;
        min-height: common.toRem(550);
    }
    @media (max-width: common.toEm(768, 16)) {
        padding: calc(common.toRem(36) + common.toRem(80)) 0 calc(common.toRem(36) + common.toRem(50.67) + common.toRem(16)) 0;
        min-height: common.toRem(500);
    }
    @media (max-width: common.toEm(480, 16)) {
        padding: calc(common.toRem(24) + common.toRem(70)) 0 calc(common.toRem(24) + common.toRem(40.33) + common.toRem(10)) 0;
        min-height: common.toRem(450);
    }
    @media (max-width: common.toEm(320, 16)) {
        padding: calc(common.toRem(24) + common.toRem(60)) 0 calc(common.toRem(24) + common.toRem(40.33) + common.toRem(10)) 0;
        min-height: common.toRem(400);
    }
    
    @media (min-width: common.toEm(common.$container + 31, 16)) {
        .container{
            margin-left: calc((100vw - common.toRem(common.$container + 30)) / 2);
        }
    }
    .container{
        flex: 0 1 common.toRem(992);

        position: relative;
        z-index: 2;
        &::after{
            background-color: #fff;
            content: "";

            position: absolute;
            left: 15px;
            top: calc(common.toRem(32) / 2);
            transform: translateY(-50%);

            width: common.toRem(60);
            height: common.toRem(5);
        }

        font-family: "Russo One";
        color: #fff;
    }
    @media (max-width: common.toEm(common.$container + 31, 16)) {
        .container{
            margin-left: 0;
            &::after{
                top: calc(common.toRem(29) / 2);
                width: common.toRem(50);
            }
        }
    }
    @media (max-width: common.toEm(992, 16)) {
        .container::after{
            top: calc(common.toRem(26) / 2);
            width: common.toRem(40);
        }
    }
    @media (max-width: common.toEm(768, 16)) {
        .container::after{
            top: calc(common.toRem(23) / 2);
            width: common.toRem(40);
            height: common.toRem(3);
        }
    }
    @media (max-width: common.toEm(480, 16)) {
        .container::after{
            top: calc(common.toRem(20) / 2);
            width: common.toRem(30);
        }
    }

    &__supheading, &__subheading{
        display: inline-block;
    }
    &__supheading{
        font-size: common.toRem(32);
        line-height: 1.0;

        padding-left: calc(common.toRem(60) + common.toRem(10));
    }
    @media (max-width: common.toEm(992, 16)) {
        &__supheading{
            font-size: common.toRem(26);
            padding-left: calc(common.toRem(50) + common.toRem(10));
        }
    }
    @media (max-width: common.toEm(768, 16)) {
        &__supheading{
            font-size: common.toRem(23);
            padding-left: calc(common.toRem(40) + common.toRem(6));
        }
    }
    @media (max-width: common.toEm(480, 16)) {
        &__supheading{
            font-size: common.toRem(20);
            padding-left: calc(common.toRem(30) + common.toRem(6));
        }
    }

    &__heading{
        font-size: common.toRem(64);
        line-height: 1.0;

        margin-bottom: common.toEm(10, 64);
    }
    @media (max-width: common.toEm(common.$container + 31, 16)) {
        &__heading{
            font-size: common.toRem(58);
        }
    }
    @media (max-width: common.toEm(992, 16)) {
        &__heading{
            font-size: common.toRem(52);
        }
    }
    @media (max-width: common.toEm(768, 16)) {
        &__heading{
            font-size: common.toRem(46);
        }
    }
    @media (max-width: common.toEm(480, 16)) {
        &__heading{
            font-size: common.toRem(36);
        }
    }
    @media (max-width: common.toEm(320, 16)) {
        &__heading{
            font-size: common.toRem(32);
        }
    }


    &__subheading{
        font-size: common.toRem(24);
        line-height: 1.0;
    }
    @media (max-width: common.toEm(common.$container + 31, 16)) {
        &__subheading{
            font-size: common.toRem(22);
        }
    }
    @media (max-width: common.toEm(992, 16)) {
        &__subheading{
            font-size: common.toRem(20);
        }
    }
    @media (max-width: common.toEm(480, 16)) {
        &__subheading{
            font-size: common.toRem(18);
        }
    }
}